/*overall page parameters*/


html
body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

/*top of page headder*/
.title-container {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}

.title {
    width: 960px;
    padding-top: .66rem;
    padding-bottom: .66rem;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    text-align: left;
}

.title img {
    padding-right: 1rem;
    padding-left: .5rem;
    height: 1.5rem;
}

/*cover photo*/

.cover {
    background-image: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.cover-container {
    max-width: 960px;
    margin: 0 auto;
}

.new-arrival {
    background: black;
    width: 20em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    top: 9em;
    position: relative;
    padding: 2em 3em;

}

.new-arrival h4 {
    font-size: 1rem;
}

.new-arrival h2 {
    font-size: 2em;
    line-height: 1.2em;
    margin: .25em 0;
}

/*navigation menu*/

.navigation-container {
    background: firebrick;
    padding: 0.75rem 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navigation {
    max-width: 960px
}

.navigation a {
    padding-right: 2rem;
    padding-left: 2rem;
}

.menu {
    display: none;
}
/*products*/

.products-container {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.products {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.products img {
    padding: 2rem 0;
    height: 9rem;
}

.products h3 {
    background: black;
    text-align: center;
    padding: 0.5rem 0;
}

.pen {
    border: 4px solid black;
    width: 30%;
}

.watch {
    border: 4px solid black;
    width: 30%;
}

.glasses {
    border: 4px solid black;
    width: 30%;
}


/*location and hours*/

.business-info {
    display: flex;
    justify-content: center;
}
.info {
    width: 960px;
    margin-top: 3rem;
    display: inline-block;
}

.title-info h3 {
    background-color: black;
    color: white;
    padding: 1em 2em;
    width: 35%;
}

.info span {
    color: black;
}

/*footer*/

.footer {
    background: black;
    padding: 5rem 0;
    margin-top: 4rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 960px;
    font-family: Helvetica, Arial, sans-serif;
}




/*tablet size */

@media only screen and (max-width: 1024px) {

    .navigation {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .navigation a {
        padding-right: 2rem;
        padding-left: 2rem;
}

    .products {
        display: flex;
        justify-content: space-around;
    }
    .glasses {
        display: none;
    }

    .pen,
    .watch, {
        width: 47%;

    }

    .title-info {
        width: 35%;
    }
}

/*phone size*/

@media only screen and (max-width: 470px) {
    
    /*products*/
    .glasses, .watch {
        display: none;
    }

    .pen {
        width: 90%;
    }


    /*cover with new arrival statement*/
    .cover {
        height: 15rem;
    }
    .new-arrival {
        background: black;
        width: 20em;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: white;
        top: 10rem;
        position: relative;
        padding: 1em 2em;
    }
    .new-arrival h4 {
        font-size: 0.77rem;
        font-weight: bold;
    }

    .new-arrival h2 {
        font-size: 1em;
        margin: .25em 0;
    }

    /*locations and hours*/
    .business-info {
        display: block;
    }

    .title-info {
        width: 90%;
        text-align: center;
    }

    .footer-container {
        text-align: center;
    }
}